<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>WebSocket With STOMP & SockJS Broadcast Example</title>
  <th:block th:include="fragments/common.html :: headerfiles"></th:block>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
  <div class="container">
    <div class="py-5 text-center">
      <a href="/"><h2>WebSocket</h2></a>
      <p class="lead">WebSocket Chat - with STOMP & SockJS.</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <div class="input-group">
            <input type="text" id="from" class="form-control" placeholder="Choose a nickname"/>
            <div class="btn-group">
              <button type="button" id="connect" class="btn btn-sm btn-outline-secondary" onclick="connect()">Connect</button>
              <button type="button" id="disconnect" class="btn btn-sm btn-outline-secondary" onclick="disconnect()" disabled>Disconnect</button>
            </div>
          </div>
        </div>
        <div class="mb-3" id="users" style="display: none;">
          <span id="active-users-span"></span>
          <ul id="active-users" class="list-group list-group-horizontal-sm">
            <!--/*-->
            <!--/*/

            <div th:with="condition=${#lists.size(activeUsers)}" th:remove="tag"><p th:if="${condition}"><i>No active users found.</i></p><p th:unless="${condition}" class="text-muted">click on user to begin chat</p></div><li th:each="username ${activeUsers}" class="list-group-item"><a class="active-user" href="javascript:void(0)" onclick="setSelectedUser('${username}')">${username}</a></li>

            /*/-->
            <!--*/-->
          </ul>
        </div>
        <div id="divSelectedUser" class="mb-3" style="display: none;">
          <span id="selectedUser" class="badge badge-secondary"></span> Selected
        </div>
        <div class="mb-3">
          <div class="input-group" id="sendmessage" style="display: none;">
            <input type="text" id="message" class="form-control" placeholder="Message">
              <div class="input-group-append">
                <button id="send" class="btn btn-primary" onclick="send()">Send</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div id="content"></div>
          <div>
            <span class="float-right">
              <button id="clear" class="btn btn-primary" onclick="clearMessages()" style="display: none;">Clear</button>
            </span>
          </div>
          <div id="response"></div>
        </div>
      </div>
    </div>
    <footer th:insert="fragments/common.html :: footer"></footer>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/script.js" type="text/javascript"></script>
  </body>
</html>